<h1 style="margin-top: 2rem">Baja Contenido</h1>
<div class="contenedor">
  <div style="margin-right: 5rem">
    <h1>Baja Cancion</h1>
    <div id="elementos">
      <div *ngFor="let cancion of listaCanciones" id="contenido">
        <button (click)="EliminarCancion(cancion.titulo, cancion.autor)">
          Eliminar
        </button>
        <p>{{ cancion.titulo }}</p>
      </div>
    </div>
  </div>

  <div>
    <h1>Baja Video</h1>
    <div id="elementos">
      <div *ngFor="let video of listaVideos" id="contenido">
        <button (click)="EliminarVideo(video.id)">Eliminar</button>
        <p>{{ video.nombre }}</p>
      </div>
    </div>
  </div>
</div>
