#listaScroll {
  display: block;
  width: 25rem;
  height: 5rem;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 1rem;
}

#listaScroll * {
  margin: 0.1rem;
}

button {
  text-align: center;
  margin: 0 auto;
}

#AltaCancion {
  padding: 0.5rem 4rem;
}

#AltaCancion:hover {
  background-color: var(--Amarillo);
  color: black;
}
