<div>
  <h1 style="margin-top: 3rem">Menu Funcionalidades Administrador</h1>
  <div id="Menu" class="caja">
    <button (click)="IrAltaContenido()">Alta Contenido</button>
    <button (click)="IrBajaContenido()">Baja Contenido</button>
    <button (click)="IrAltaPsicologo()">Alta Psicologo</button>
    <button (click)="IrModificarPsicologo()">Modificar Psicologo</button>
    <button (click)="IrBajaPsicologo()">Baja Psicologo</button>
    <button (click)="IrDescuentoEmails()">Descuento Emails</button>
    <button (click)="IrRegistrarPlaylist()">Registrar Playlist</button>
    <button (click)="IrReflection()">Subir Archivo</button>
    <!--Solo para super administrador-->
    <button (click)="IrAgregarAdmin()">Agregar Admin</button>
  </div>
</div>
